/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
}

/* Header Styles */

.site-header {
  background-color: #1b2d31;
  padding: 1em;
  text-align: center;
}
.site-header h1{
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  margin-right: auto; /* Pushes the logo to the left */
}


.logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  margin-right: auto; /* Pushes the logo to the left */
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em; /* Space between the nav items */
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav a {
  color: #FDF5E6;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #ffd36a;
}

.main-section{
  margin-top: 20px;
  text-align: center;
}
